// Mixins Here

.btn-mixin() {
    color: @wild-sand;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    background: @btn-bg-color;
    border-radius: 5px;
    width: 100px;
}